[
    /*[0]*/ {
        "id": "swift",
        "name_ru": "Быстрый",
        "speed_mult": 1.45,
        "tint": [
            /*[0]*/ 0.45,
            /*[1]*/ 0.85,
            /*[2]*/ 1.0,
        ],
        "xp_mult": 1.4,
    },
    /*[1]*/ {
        "hp_mult": 1.7,
        "id": "armored",
        "name_ru": "Бронированный",
        "pain_mult": 0.25,
        "speed_mult": 0.9,
        "tint": [
            /*[0]*/ 0.85,
            /*[1]*/ 0.8,
            /*[2]*/ 0.5,
        ],
        "xp_mult": 1.5,
    },
    /*[2]*/ {
        "hp_mult": 1.2,
        "id": "vampiric",
        "lifesteal": 0.6,
        "name_ru": "Вампирический",
        "tint": [
            /*[0]*/ 1.0,
            /*[1]*/ 0.35,
            /*[2]*/ 0.6,
        ],
        "xp_mult": 1.5,
    },
    /*[3]*/ {
        "death_blast": [
            /*[0]*/ 26.0,
            /*[1]*/ 4.5,
        ],
        "id": "volatile",
        "name_ru": "Взрывной",
        "tint": [
            /*[0]*/ 1.0,
            /*[1]*/ 0.55,
            /*[2]*/ 0.15,
        ],
        "xp_mult": 1.4,
    },
    /*[4]*/ {
        "dmg_mult": 1.5,
        "id": "brutal",
        "name_ru": "Свирепый",
        "tint": [
            /*[0]*/ 1.0,
            /*[1]*/ 0.25,
            /*[2]*/ 0.25,
        ],
        "xp_mult": 1.45,
    },
]
